@import "tailwindcss";

/* condigo abaixo temporario, fazer a manuteção */
.force-bebas {
  font-family: 'Bebas Neue', sans-serif !important;
}

.force-saira {
  font-family: 'Saira Condensed', sans-serif !important;
}

.force-inter {
  font-family: 'Inter', sans-serif !important;
}

.force-lora {
  font-family: 'Lora', sans-serif !important;
}

html, body {
        scroll-behavior: none;
        margin: 0;
        padding: 0;
        box-sizing: border-box;

}
